@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

body {
  font-family: 'Manrope', sans-serif;
  background: hsl(218, 23%, 16%);
}

.color1 {
  color: hsl(193, 38%, 86%);
}

.color2 {
  color: hsl(150, 100%, 66%);
}

.bgColor2 {
  background-color: hsl(150, 100%, 66%);
}

.spacing1 {
  letter-spacing: 4px;
}

.bgColor3 {
  background-color: hsl(217, 19%, 24%);
}